<div class="error_page">
  <div class="error">
    <div class="error_name">
      <h1>ВЕДУТСЯ РАБОТЫ</h1>
    </div>
    <div class="error_body">
      <p>Скоро мы снова будем on-line.</p>
    </div>
  </div>
</div>