<% if @phgallery.images.count > 0 %>
    <% @width = "50%" %>
<% else %>
    <% @width = "100%" %>
<% end %>
<div class="sideleft pageside" style="width: <%= @width%> ">
  <div class="home-welcome-div">
    <div>
      <h1>ФОТОКНИГА<br><hr></h1>

      <div >
        <p>СОХРАНИТЕ ВАШИ</p>
        <p>ПРЕКРАСНЫЕ ЭМОЦИИ И ВПЕЧАТЛЕНИЯ</p>
        <p>НА ДОЛГУЮ ПАМЯТЬ</p>
        <p>В ФОТОКНИГЕ ОТ <b>TORTON</b></p>
      </div>
      <%= form_for(@book) do |f| %>
          <div style="text-align: center;">
            <% f.submit 'СОБЕРИ INSTABOOK', :class => 'torton-click-button' %>
            <%= f.submit 'СОЗДАТЬ ФОТОКНИГУ', :class => 'torton-click-button' %>
          </div>
          <div class="field">
            <%= f.hidden_field :price, :value => 0 %>
          </div>
      <% end %>
    </div>
  </div>
</div>