<div class="auth_page">
  <div class="authform">
    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :role => 'form'}) do |f| %>
        <h3>ЗАБЫЛИ ПАРОЛЬ?</h3>
        <p>УКАЖИТЕ EMAIL, ИСПОЛЬЗОВАННЫЙ ПРИ РЕГИСТРАЦИИ, МЫ ВЫШЛЕМ НА НЕГО ССЫЛКУ ДЛЯ ВОССТАНОВЛЕНИЯ</p>
        <%= devise_error_messages! %>
        <div class="form-group">
          <%= f.email_field :email, :autofocus => true, class: 'form-control' %>
        </div>
        <%= f.submit 'ВОССТАНОВИТЬ ПАРОЛЬ', :class => 'button right' %>
    <% end %>
  </div>
</div>