<div class="torton_background">
  <%= render 'staticpages/homepage/pageside_left' %>
  <%= render 'staticpages/homepage/pageside_right' %>
</div>
<style>
  .torton_background {
    background: url(<%= Phgallery.find_by_kind("background").images.first %>) center;
    -webkit-background-size: cover;
    background-size: cover;
  }
</style>