<div class="footerleft">
  <p>(c) Tortonbook 2016
    <% @socialicons.each do |icon|%>
        <% if icon.iconlink.present? %>
            <%= link_to 'http://' + icon.iconlink do %>
                <%= image_tag 'socialicons/' + icon.name + '.png', alt: '' %>
            <% end %>
        <% end %>
    <% end %>
  </p>
</div>