<% if @phgallery.images.count > 0 %>
    <% @width = "50%" %>
<% else %>
    <% @width = "0%" %>
<% end %>
<div class="sideright pageside" style="width: <%= @width%> ">
  <% if @phgallery.images.count > 1 %>
      <ul class="bxslider">
        <% @phgallery.images.each do |image| %>
            <li>
              <div style="background: url('<%= image.url %>') no-repeat center; background-size: cover;">
              </div>
            </li>
        <% end %>
      </ul>
  <% else %>
      <% if @phgallery.images.count > 0 %>
          <div style="background: url('<%= @phgallery.images.first.url %>') no-repeat center; background-size: cover; height: 100%;">
          </div>
      <% end %>
  <% end %>
</div>