<% if Phgallery.find_by_kind("homepage").images.count > 1 %>
    <% @width = "50%" %>
<% else %>
    <% @width = "100%" %>
<% end %>
<div class="sideleft pageside" style="width: <%= @width%> ">
  <div class="home-welcome-div">
    <div>
      <h1 >TORTONBOOK</h1>
      <div >
        <i><p>Фотокнига с вашими фотографиями.</p>
          <p>Вы сами создаете свою  фотокнигу по</p>
          <p>готовым шаблонам, выбирая</p>
          <p>фотографии из вашего</p>
          <p>компьютера </p></i>
      </div>
      <%= form_for(@book) do |f| %>
          <div style="text-align: center;">
            <% f.submit 'СОБЕРИ INSTABOOK', :class => 'torton-click-button' %>
            <%= f.submit 'СОЗДАЙ ФОТОКНИГУ', :class => 'torton-click-button' %>
          </div>
          <div class="field">
            <%= f.hidden_field :pagecount, :value => 0 %>
          </div>
      <% end %>
    </div>
  </div>
</div>