<form method="POST" action="https://money.yandex.ru/quickpay/confirm.xml">
  <input type="hidden" name="receiver" value="410012073695567">
  <input type="hidden" name="formcomment" value="Проект ">
  <input type="hidden" name="short-dest" value="Проект ">
  <input type="hidden" name="label" value="1">
  <input type="hidden" name="quickpay-form" value="donate">
  <input type="hidden" name="targets" value='Печать книги <%= Book.first.name%>'>
  <input type="hidden" name="sum" value="4568.25" data-type="number">
  <input type="hidden" name="comment" value="Хотелось бы ">
  <input type="hidden" name="need-fio" value="false">
  <input type="hidden" name="need-email" value="false">
  <input type="hidden" name="need-phone" value="false">
  <input type="hidden" name="need-address" value="false">
  <label><input type="radio" name="paymentType" value="PC"> Яндекс.Деньгами</label>
  <label><input type="radio" name="paymentType" value="AC"> Банковской картой</label>
  <input type="submit" value="оплатить">
</form>