<div class="page">
  <div class="page_box">
    <div class="content">
      <div class="delivery_page">
        <h1>О НАС</h1><br>
        <style type="text/css">
          .tg  {border-collapse:collapse;border-spacing:0;}
          .tg td{font-size:2vh;padding:10px 5px;border:none;overflow:hidden;word-break:normal;}
          .tg .tg-about{vertical-align:top;text-align:left;}
        </style>
        <table class="tg">
          <tr>
            <td class="tg-about">адрес:</td>
            <td class="tg-about">г. Казань, ул. Короленко 35а</td>
          </tr>
          <tr>
            <td class="tg-about">тел.:</td>
            <td class="tg-about">+79372977065</td>
          </tr>
          <tr>
            <td class="tg-about">email:</td>
            <td class="tg-about">torotnbook@mail.ru</td>
          </tr>
          <tr>
            <td class="tg-about">режим работы:</td>
            <td class="tg-about">пн-пт с 9°° до 19°°, сб с 9°° до 16°°</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>