<div class="page_box">
  <div class="content">
    <div class="delivery_page">
      <h1>О НАС</h1>
      <style type="text/css">
        .tg  {border-collapse:collapse;border-spacing:0;}
        .tg td{font-size:2.5vh;padding:10px 5px;border:none;overflow:hidden;word-break:normal;}
        .tg .tg-test{vertical-align:top;text-align:left;}
      </style>
      <table class="tg">
        <tr>
          <td class="tg-test">адрес:</td>
          <td class="tg-test">г. Казань, ул. Короленко 35а</td>
        </tr>
        <tr>
          <td class="tg-test">тел.:</td>
          <td class="tg-test">+79372977065</td>
        </tr>
        <tr>
          <td class="tg-test">email:</td>
          <td class="tg-test">torotnbook@mail.ru</td>
        </tr>
        <tr>
          <td class="tg-test">режим работы:</td>
          <td class="tg-test">пн-пт с 9°° до 19°°, сб с 9°° до 16°°</td>
        </tr>
      </table>
    </div>
  </div>
</div>