<div class="page">
  <div class="page_box">
    <div class="content">
      <div class="delivery_page">
        <h1>ПРЕИМУЩЕСТВА:</h1><br><br>
        <p><b>
          –Собственное производство
        </b></p>
        <p>
          Это позволяет существенно сократить сроки изготовления. Мы исключаем посредников, что означает, наша продукция не будет подвержена дополнительной наценке, увеличению сроков связанных с посредничеством.
        </p>
        <p>
          Наш центр работает официально и имеет, как юридический, так и физический адрес и вы всегда можете посетить производство или обратится за консультацией или другим видом услуг связанных с нашей деятельностью (дизайн, широкоформатная печать, сувенирная продукция и т. д.)
        </p>
        <p><b>
          – Команда квалифицированных специалистов
        </b></p>
        <p>
          В нашем центре официально трудоустроен штат сотрудников. Все они квалифицированные специалисты (дизайнеры, фотографы, специалисты по изготовлению фото-продукции, менеджеры). Проходящие ежегодное повышение квалификации.
        </p>
        <p><b>
          – Многолетний опыт работы в этой сфере
        </b></p>
        <p>
          На рынке в сфере фото-услуг мы работаем больше 10 лет от имени ООО «Вега», в 2015г. произошло слияние с ООО «FUJIFILM».
        </p>
        <p>
          Наш опыт гарантирует гибкий и индивидуальный подход к каждому клиенту.
        </p>
        <p><b>
          – Широкий ассортимент фото продукции
        </b></p>
        <p>
          Помимо изготовления фото книг, наш центр занимается разработкой дизайна любой сложности, широкоформатной печатью, съемкой и печатью фотографий с шаблонами.
        </p>
        <p><b>
          –Собственное производство
        </b></p>
        <p>
          Это позволяет существенно сократить сроки изготовления. Мы исключаем посредников, что означает, наша продукция не будет подвержена дополнительной наценке, увеличению сроков связанных с посредничеством.
        </p>
        <p>
          Наш центр работает официально и имеет, как юридический, так и физический адрес и вы всегда можете посетить производство или обратится за консультацией или другим видом услуг связанных с нашей деятельностью (дизайн, широкоформатная печать, сувенирная продукция и т. д.)
        </p>
        <p><b>
          – Команда квалифицированных специалистов
        </b></p>
        <p>
          В нашем центре официально трудоустроен штат сотрудников. Все они квалифицированные специалисты (дизайнеры, фотографы, специалисты по изготовлению фото-продукции, менеджеры). Проходящие ежегодное повышение квалификации.
        </p>
        <p><b>
          – Многолетний опыт работы в этой сфере
        </b></p>
        <p>
          На рынке в сфере фото-услуг мы работаем больше 10 лет от имени ООО «Вега», в 2015г. произошло слияние с ООО «FUJIFILM».
        </p>
        <p>
          Наш опыт гарантирует гибкий и индивидуальный подход к каждому клиенту.
        </p>
        <p><b>
          – Широкий ассортимент фото продукции
        </b></p>
        <p>
          Помимо изготовления фото книг, наш центр занимается разработкой дизайна любой сложности, широкоформатной печатью, съемкой и печатью фотографий с шаблонами.
        </p>
      </div>
    </div>
  </div>
</div>