<div class="editorcontainer" style="margin-top: 0;">
  <div>
    <ul class="nav nav-tabs" id="myTab">
      <li class="active"><a data-target="#home" data-toggle="tab">Пользователи</a></li>
      <li><a data-target="#profile" data-toggle="tab">Цены</a></li>
      <li><a data-target="#messages" data-toggle="tab">Социальные сети</a></li>
      <li><a data-target="#settings" data-toggle="tab">Фотослайдер</a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="home">
        <%= render 'pages/forms/users' %>
      </div>
      <div class="tab-pane" id="profile">
        <%= render 'pages/forms/bookprices' %>
      </div>
      <div class="tab-pane" id="messages">
        <%= render 'pages/forms/socialicons' %>
      </div>
      <div class="tab-pane" id="settings">
        <%= render 'pages/forms/homephotoslider' %>
    </div>
  </div>
</div>
<script>
  jQuery(function () {
    jQuery('#myTab a:first').tab('show')
  })
</script>