<div class="page_box">
  <div class="content">
    <div class="delivery_page">
      <h1>Доставка и оплата</h1>
      <p>
        Вашу фотокнигу можно оплатить и
      </p>
      <p>
        получить в нашем отделе выдачи:
      </p>
      <p>
        г.Казань, Короленко 35а.<br>
        по будням с 10°° до 19°°
      </p>
    </div>
  </div>
</div>
