<div class="page_box">
  <div class="content">
    <div class="delivery_page">
      <h1>Доставка и оплата</h1>
      <br>
      <p style="text-align: center;">
        Вашу фотокнигу можно оплатить и
      </p>
      <p style="text-align: center;">
        получить в нашем отделе выдачи:
      </p>
      <p style="text-align: center;">
        г.Казань, Короленко 35а.<br>
        пн-пт с 9°° до 19°°, сб с 9°° до 16°°
      </p>
    </div>
  </div>
</div>
