<div class="page">
  <div class="page_box">
    <div class="content">
      <div class="text_page">
        <h1>ВОПРОСЫ И ОТВЕТЫ:</h1>
        <br>
        <p>
          <b>Каких размеров печатаете фотокниги?</b>
        </p>
        <p>
          - на данный момент у нас на сайте представлены: 15х15, 20х20, 29х29
        </p>
        <p>
          <b>Сколько в ней разворотов?</b>
        </p>
        <p>
          - минимум 10 разворотов
        </p>
        <p>
          <b>На чем печатаете?</b>
        </p>
        <p>
          - печатаем только химическим способом на фотобуге FUJIFILM
        </p>
        <p>
          <b>Как мне получить книгу</b>
        </p>
        <p>
          - Вашу фотокнигу можно оплатить и получить в нашем отделе выдачи: г.Казань, Короленко 35а.<br>
          пн-пт с 9°° до 19°°, сб с 9°° до 16°°
        </p>
      </div>
    </div>
  </div>
</div>