<div class="page_box">
  <div class="content">
    <div class="delivery_page">
      <h1>ВОПРОСЫ И ОТВЕТЫ</h1>
      <p>
      Каких размеров печатаете фотокниги?
      </p>
      <p>
        - на данный момент у нас на сайте представлены: 15х15, 20х20, 29х29
      </p>
      <p>
      Сколько в ней разворотов?
      </p>
      <p>
        - минимум 10 разворотов
      </p>
      <p>
        На чем печатаете?
      </p>
      <p>
        - печатаем только химическим способом на фотобуге FUJIFILM
      </p>
      <p>
        Как мне получить книгу
      </p>
      <p>
        - Вашу фотокнигу можно оплатить и получить в нашем отделе выдачи: г.Казань, Короленко 35а.
        пн-пт с 9°° до 19°°, сб с 9°° до 16°°
      </p>
    </div>
  </div>
</div>