<div class="page">
  <div class="page_box">
    <div class="content">
      <div class="text_page">
        <h1>КАК ЗАКАЗАТЬ?</h1>
        <br>
        <p>
          Для начала заказа Вам необходимо зарегестрироваться на нашем сайте.
        </p>
        <p>
          Затем загрузить фотографии на наш сайт и расставить их по выбранным Вами шаблонам.
        </p>
        <p>
          Далее нажать на кнопку оформить заказ, ввести Ваши данные и выбрать способ оплаты.
        </p>
        <p>
          После чего в ближайшее время с Вами свяжется наш менеджер.
        </p>
      </div>
    </div>
  </div>
</div>