<div style='border-radius: 20px; width:65%; margin: auto;' >
  <div style="background-color: white; margin-top: 5%; border: 1px solid black; border-radius: 50px;">
    <h1 style="padding: 2% 0; text-align: center; font-size: 50px; font-family: 'PT Serif';"><b>ДОСТАВКА И ОПЛАТА</b></h1>
  </div>
</div>