<div class="central_align shipping_and_payment_div" >
  <h1>Доставка и оплата</h1>
  <p>
    Вашу фотокнигу можно оплатить и
  </p>
  <p>
    получить в нашем отделе выдачи:
  </p>
  <p>
    г.Казань, Короленко 35а.<br>
    по будням с 10°° до 19°°
  </p>
</div>
<style>
  .shipping_and_payment_div {
    top:50%;
    width:40vh;
    height:30vh;
    text-align: center;
  }
  .shipping_and_payment_div p {
    font-size: 2vh;
  }
</style>