<div class="editorcontainer" style="margin: auto; margin-top: -20px; width: 65%; background-color: none; height: 100%;">

  <h1 style="padding: 1.2% 0 0.5% 0; text-align: center; font-size: 50px; font-family: 'PT Serif';"><b>СОЗДАЁМ ФОТОКНИГУ</b></h1>
        <%= link_to 'Show', book %>
        <%= link_to 'Edit', edit_book_path(book,:razvorot => 1, :lt => book.bookpages[0].template, :rt => book.bookpages[1].template) %>
        <%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %>

<%= link_to 'New Book', new_book_path %>
