default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  timeout: 5000

development:
  <<: *default
  database: tortondb
  username:
  password:

production:
  <<: *default
  database: tortonbook_production
  username:
  password: