<div class="book book-cover">
  <div class="rightpage pagecover" style="background-color: <%= bookpage.bgcolor %>">
    <%= render partial: 'books/templates/cover_temp_' + rtp.to_s, locals: {bookpage: bookpage} %>
  </div>
</div>