<div class="book book-razvorot" >
  <div id="containment-wrapper" class="leftpage page" style="background-color: <%= bookpages[(rzp)*2 - 1].bgcolor %>">
    <%= render partial: 'books/templates/page_temp_' + ltp.to_s, locals: {bookpage: bookpages[(rzp)*2 - 1]} %>
  </div>
  <div class="rightpage page sgib" style="background-color: <%= bookpages[(rzp)*2].bgcolor %>">
    <%= render partial: 'books/templates/page_temp_' + rtp.to_s, locals: {bookpage: bookpages[(rzp)*2]} %>
  </div>
</div>