<div class="razvorots">
  <% (101..105).each do |i| %>
      <% if i == tp %>
          <% act = 'razvorotactive' %>
      <% else %>
          <% act = 'razvorottemplates' %>
      <% end %>
      <%= link_to book_page_path(book_page, :template => i ), :method=> :put do %>
          <%= image_tag 'icons/razvorot-'+i.to_s+'.jpg', :class => act %>
      <% end %>
  <% end %>
</div>