<div class="pagetemplates left-float left-templates">
  <% rzp = rzp - 1 %>
  <%= link_to book_path(@book, :razvorot => rzp ) do %>
      <%= image_tag 'leftnav.png', :class => 'leftnav right-float' %>
  <% end %>
</div>