<div class="pagetemplates left-float left-templates">
  <% rzp = rzp - 1 %>
  <%= link_to book_path(@book, :razvorot => rzp ) do %>
    <i class="leftnav right-float fa fa-chevron-circle-left"></i>
  <% end %>
</div>