<div class="book_head">
  <div class="head_left">
  </div>
  <div class="head_left">
    <p>
      <% if @book.order.blank? %>
          <%= link_to 'РЕДАКТИРОВАТЬ КНИГУ', edit_book_path(@book,:razvorot => rzp, :lt => @book.bookpages[0].template, :rt => @book.bookpages[1].template), :class => "torton-click-button" %>
      <% end %>
    </p>
  </div>
  <div class="head_center" >
    <h1>ПРОСМОТР ФОТОКНИГИ</h1>
  </div>
  <div class="head_right">
    <p class="torton-round-element">
      СТОИМОСТЬ КНИГИ:<b><%= @book.price %> РУБ</b>
    </p>
  </div>
  <% if @book.order.blank? %>
    <div class="head_right" >
      <p>
        <%= link_to 'ОФОРМИТЬ ЗАКАЗ', new_order_path(book: @book), data: { "no-turbolink" => true } , :class => "torton-click-button", :style => "font-weight: 600;" %>
      </p>
    </div>
  <% end %>
</div>