<div class="pagetemplates right-float left-templates">
  <% if rzp == (book_pages.last.page_num / 2) %>
      <% rzp = rzp %>
  <% else %>
      <% rzp = rzp + 1 %>
      <%= link_to book_path(@book, :razvorot => rzp ) do %>
          <i class="rightnav fa fa-chevron-circle-right"></i>
      <% end %>
  <% end %>
</div>