<div class="torton-page-nav">
  <% razvorots = @book.bookpages.count / 2 %>
  <% if rzp == 0 %>
      <% act = "pnbactive" %>
  <% else %>
      <% act = "pagenavbar" %>
  <% end %>
  <b>
    <%= link_to " ОБЛОЖКА ", edit_book_path(:razvorot => 0, :rt => rtp), :class => act, data: { "no-turbolink" => true } %>
    <% (1..razvorots).each do |i| %>
        <% if i == rzp %>
            <% act = "pnbactive" %>
        <% else %>
            <% act = "pagenavbar" %>
        <% end %>
        <%= link_to (i*2-1).to_s+" | "+(i*2).to_s, edit_book_path(:razvorot => i, :lt => ltp, :rt => rtp), :class => act %>
    <% end %>
  </b>
  <% if (@book.bookpages.count - 1) < @book.bookprice.maxpagescount %>
      <%= link_to " + ", book_path(@book, :addpages => 2 ), :method=> :put, :class => "pnbactive", :title => "Добавить страницы" %>
  <% end %>
  <% if (@book.bookpages.count - 1) > @book.bookprice.minpagescount %>
      <%= link_to " - ", book_path(@book, :destroypages => 2 ), :method=> :put, :class => "pnbactive", :style => "border: 2px solid red;" %>
  <% end %>
</div>