@import 'variables';
@import "typography";
@import 'mixins';

.page_box {
  width: 100vh;
  min-height: 50vh;
  max-height: 80vh;
  margin: auto;
  background: white;
  box-shadow: $default-shadow;
  @include top-transform(calc(50% - 4vh));
  .content {
    @include top-left-transform(50%,50%);
    position: absolute;
    .admin_nav_tabs {
      margin-top: -2vh;
      margin-bottom: 4vh;
      width: 100%;
      li {
        height:3.5vh;
        float: left;
        display: inline-block;
        text-decoration: none;
        border-right: 1px solid $primary-color;
        border-bottom: 1px solid $primary-color;
        &:first-child {
          border-left: 1px solid $primary-color;
        }
        .active {
          border: none;
          outline: none;
          background: $primary-color;
          color: white;
        }
        a {
          display: table-cell;
          padding: 1vh 1vh 0.8vh 1vh;
          font-size: 1.3vh;
          color: $font-color;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
    width: 96vh;
    display: inline-block;
    padding: 2vh;
    border: 1px solid $primary-color;
    min-height: 46vh;
    .admin_phgallery {
      margin-bottom: 5vh;
      text-align: center;
      .imgbox {
        display: inline-block;
        height: 10vh;
        position: relative;
        img {
          height: 10vh;
        }
        a {
          display: none;
          img {
            position: absolute;
            top: 0;
            right: 0;
            height: 2vh;
          }
        }
        &:hover {
          a {
            display: block;
          }
        }
      }
    }
    h2 {
      text-align: center;
      padding: 2vh;
    }
    .tg  {
      @include left-transform(50%);
      border-collapse:collapse;
      border-spacing:0;
    }
    .tg .tg-yw4l{font-size:1.3vh; text-align: center; vertical-align:top}
    .tg .tg-yw4l input[type="number"] {width:6.7vh;}
    .form_row {
      font-size: 1.3vh;
      padding: 1vh 0;
      display: block;
      border-top: 1px solid lightgray;
      .price {
        text-align: center;
      }
    }
    .button-xs {
      font-size: 1.3vh;
      background: $primary-color;
      border-color: $primary-color;
    }
  }
}
.column-left {
  float: left;
}
.column-right {
  padding-left: 5px;
  float: right;
}