@import 'variables';
@import 'mixins';

//MyBooks

.books_page {
  width: 60%;
  margin: auto;
  text-align: center;
  .choosen_book {
    display: inline-block;
    margin: 8px;
    .book_box {
      color: $font-color;
      width:25vh;
      height:25vh;
      border: 1px solid lightgray;
      border-radius: 4px;
      float:right;
      .center_side {
        @include top-left-transform(50%,50%);
        font-size: 1.35vh;
      }
      //refactor to_center
      .to_center {
        @include top-transform(50%);
        margin-top: 0!important;
      }
    }
    a {
      color: black;
    }
  }
}

//Edit && Show book
.book_page {
  width: 100%;
  min-height: calc(100vh - 96px);
  //BookPageName
  .book_head {
    width: 100%;
    height: 80px;
    .head_left {
      width:16%;
      height: 100%;
      float: left;
      &:before {
        content: ' ';
        display: inline-block;
        vertical-align: middle;
        height: 100%;
      }
      div, form {
        display: inline-block;
        vertical-align: middle;
        a {
          color: $font-color;
          text-decoration: none;
          &:hover {
            color: white;
          }
        }
      }
      p {
        display: inline-block;
        vertical-align: middle;
        margin: 0;
      }
    }
    .head_center {
      text-align: center;
      float: left;
      min-width: 36%;
      height: 100%;
      &:before {
        content: ' ';
        display: inline-block;
        vertical-align: middle;
        height: 100%;
      }
      h1 {
        display: inline-block;
        vertical-align: middle;
        margin: 0;
        text-align: center;
      }
    }
    .head_right {
      float: right;
      width: 16%;
      height: 100%;
      font-weight: 400;
      text-align: right;
      display: inline-block;
      &:before {
        content: ' ';
        display: inline-block;
        vertical-align: middle;
        height: 100%;
      }
      p {
        display: inline-block;
        vertical-align: middle;
        margin: 0;
      }
    }
  }
  //BookPage navigation
  .torton-page-nav {
    margin-bottom: 10px;
    font-size: 0.8em;
    a {
      color: $font-color;
      text-decoration: none;
      display: inline-block;
      padding: 2px 8px;
      &.pnbactive {
        background: $background-color;
        font-weight: 600;
        border: 1px solid $primary-color;
        border-radius: $default-border-radius;
      }
      &.pagenavbar {
        background: $background-color;
        border: none;
        border-radius: $default-border-radius;
      }
    }
  }
  //Book Editing&&Viewing For Refactoring
  .editbox {
    height: 50vh;
    margin: auto;
    width:136vh;
    .pagetemplates {
      width:17vh;
      height:50vh;
      position: relative;
      a {
        text-decoration: none;
      }
      .leftnav {
        margin-right: 2vh;
        @include top-transform(50%);
        width: 25%;
        background-color: #fdfdfd;
        border:1px solid darkgray;
        border-radius: $default-border-radius;
      }
      .rightnav {
        margin-left: 3vh;
        @include top-transform(50%);
        width: 25%;
        background-color: #fdfdfd;
        border:1px solid darkgray;
        border-radius: $default-border-radius;
      }
    }
    .book {
      border:none;
      display: inline-block;
      height:50vh;
      width:100vh;
      &.book-cover {
        border: none;
        margin-left: 18vh;
      }
      &.book-razvorot {
        border-radius: 4px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
      }
      .page {
        border:none;
        overflow: inherit;
        background:none;
      }
      .leftpage {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        box-shadow: inset -15px 0px 30px -15px #AAA;
        float:left;
        height:100%;
        width:50%;
      }
      .rightpage {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        float:left;
        height:100%;
        width:50%;
        box-shadow: inset 15px 0px 30px -15px #AAA;
        &.pagecover {
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          float:right;
          border: none;
          border-radius: 4px;
        }
      }
    }
    .razvorots {
      text-align: center;
      a {
        text-decoration: none;
      }
    }
    .razvorotactive {
      box-sizing: border-box;
      display: inline-block;
      width: 7%;
      margin: 0.2% 0.1% 0 0;
      border: 1px solid white;
      outline: 2px solid #71C8C9;
    }
    .razvorottemplates {
      display: inline-block;
      width: 7%;
      margin: 0.2% 0.1% 0 0;
      border-radius: 2px;
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    }
  }
}

/** layout & transform */
.flipper {
  position: relative;
  -webkit-perspective: 700;
  overflow: visible;
}
.flip-front {
  -webkit-transform-style: preserve- 3 d;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all ease-in-out 0.4s;
  z-index: 900;
}
.flip-back {
  position: absolute; top: 0; left: 0;
  z-index: 800;
  -webkit-transform: rotatey(-180deg);
  -webkit-transform-style: preserve- 3 d;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all ease-in-out 0.4s;
  opacity: 0;
}
.flipper:hover .flip-front {
  z-index: 900;
  -webkit-transform: rotatey(180deg);
  opacity: 0;
}
.flipper:hover .flip-back {
  z-index: 1000;
  -webkit-transform: rotatey(0deg);
  opacity: 1;
}