@import 'variables';
@import 'mixins';


.editorcontainer {
  padding: 0;
  margin: auto;
  width:100vh;
  .editshow {
    .books {
      display: inline-block;
      width: 100%;
      text-align: center;
      .choosen_book {
        display: inline-block;
        margin: 8px;
        .book_box {
          color: $font-color;
          width:25vh;
          height:25vh;
          border: 1px solid lightgray;
          border-radius: 4px;
          float:right;
          .center_side {
            @include top-left-transform(50%,50%);
            font-size: 1.35vh;
          }
          //refactor to_center
          .to_center {
            @include top-transform(50%);
            margin-top: 0!important;
          }
        }
        a {
          color: black;
        }
      }
    }
    .my_books {
      display: inline-block;
      width: 100%;
      h1 {
        margin: 5vh;
        @include top-transform(5vh);
        text-align: center;
      }
    }
  }
  .book_head {
    width: 142vh;
    margin-left: -21vh;
    height: 8vh;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    .head_left {
      width:21vh;
      display: inline-block;
      vertical-align: middle;
      p {
        @include top-transform(4vh);
      }
      div {
        @include top-transform(4vh);
        a {
          color: $font-color;
          text-decoration: none;
          &:hover {
            color: white;
          }
        }
      }
    }
    .head_center {
      display: inline-block;
      width: 58vh;
      vertical-align: middle;
      h1 {
        margin: 0;
        @include top-transform(4vh);
        text-align: center;
      }
    }
    .head_right {
      width: 21vh;
      font-weight: 400;
      display: inline-block;
      vertical-align: middle;
      p {
        @include top-transform(4vh);
      }
    }
  }
  .torton-page-nav {
    margin-bottom: 0.5vh;
    font-size: 1.35vh;
    a {
      color: $font-color;
      text-decoration: none;
      display: inline-block;
      padding: 1px 6px;
      &.pnbactive {
        background: $background-color;
        font-weight: 600;
        border: 1px solid $primary-color;
        border-radius: $default-border-radius;
      }
      &.pagenavbar {
        background: #ffffff;
        border: none;
        border-radius: $default-border-radius;
      }
    }
  }
  .editbox {
    height: 50vh;
    margin-left:-18vh;
    margin-bottom: 1vh;
    width:136vh;
    .pagetemplates {
      width:17vh;
      height:50vh;
      position: relative;
      a {
        text-decoration: none;
      }
      .leftnav {
        margin-right: 2vh;
        @include top-transform(50%);
        width: 25%;
        background-color: #fdfdfd;
        border:1px solid darkgray;
        border-radius: $default-border-radius;
      }
      .rightnav {
        margin-left: 3vh;
        @include top-transform(50%);
        width: 25%;
        background-color: #fdfdfd;
        border:1px solid darkgray;
        border-radius: $default-border-radius;
      }
    }
    .book {
      border:none;
      display: inline-block;
      height:50vh;
      width:100vh;
      &.book-cover {
        border: none;
        margin-left: 18vh;
      }
      &.book-razvorot {
        border-radius: 4px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
      }
      .page {
        border:none;
        overflow: inherit;
        background:none;
      }
      .leftpage {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        box-shadow: inset -15px 0px 30px -15px #AAA;
        float:left;
        height:100%;
        width:50%;
      }
      .rightpage {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        float:left;
        height:100%;
        width:50%;
        box-shadow: inset 15px 0px 30px -15px #AAA;
        &.pagecover {
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          float:right;
          border: none;
          border-radius: 4px;
        }
      }
    }
    .razvorots {
      text-align: center;
      a {
        text-decoration: none;
      }
    }
    .razvorotactive {
      display: inline-block;
      width: 7%;
      margin: 0.2% 0.1% 0 0;
      border: 1px solid white;
      outline: 2px solid #71C8C9;
    }
    .razvorottemplates {
      display: inline-block;
      width: 7%;
      margin: 0.2% 0.1% 0 0;
      border-radius: 2px;
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    }
  }
}

/** layout & transform */
.flipper {
  position: relative;
  -webkit-perspective: 700;
  overflow: visible;
}
.flip-front {
  -webkit-transform-style: preserve- 3 d;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all ease-in-out 0.4s;
  z-index: 900;
}
.flip-back {
  position: absolute; top: 0; left: 0;
  z-index: 800;
  -webkit-transform: rotatey(-180deg);
  -webkit-transform-style: preserve- 3 d;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all ease-in-out 0.4s;
  opacity: 0;
}
.flipper:hover .flip-front {
  z-index: 900;
  -webkit-transform: rotatey(180deg);
  opacity: 0;
}
.flipper:hover .flip-back {
  z-index: 1000;
  -webkit-transform: rotatey(0deg);
  opacity: 1;
}