@import 'variables';
@import 'mixins';


//Add photo button

.submitbutton {
  margin-top: 3vh;
  text-align: center;
}

.left-float {
  float:left;
}
.right-float {
  float:right;
}
.center{
  text-align: center;
}


.fon-element {
  text-align: center;
  background: $background-color;
  width: 8vh;
  border-radius: 4px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  p {
    padding-top: 5%;
    font-size: 1.35vh;
    margin: 0;
  }
  div {
    width: 40%;
    border-radius: 4px;
    padding-top: 40%;
    border: 1px solid black;
    display: inline-block;
  }
}

//PhotoBox

.photobox {
  overflow: hidden;
  width: 100%;
  height: 160px;
  margin-top: 20px;
  background-color: $background-color;
  box-shadow: $default-shadow;
  border: none;
  border-radius: 4px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  .wrapper2 {
    height: inherit;
    padding: 4px;
    white-space: nowrap;
    overflow-x: hidden;
    .show-image {
      position: relative;
      float:left;
      padding-right: 4px;
      img {
        max-height: 72px;
        border-radius: 5px;
      }
      &:hover {
        img {
          opacity: 0.7;
        }
        a {
          display: block;
        }
      }
      .fa {
        display: unset;
      }
      a {
        position:absolute;
        display:none;
        margin-top: 2px;
        &.delete {
          border-radius: 2px;
          top: -4px;
          right: 4px;
          width: 15px;
          height: 15px;
          img {
            width: 15px;
            height: 15px;
          }
        }
      }
    }
    .imgbox {
      display: block;
      vertical-align: top;
      white-space: normal;
    }
  }
}


//BOOKEDITOR

textarea {
  font-family: inherit;
  resize: none;
  overflow:hidden;
  text-align:center;
  width: 100%;
  border: none;
  background: none;
}
.changeMe:focus {
  background: none;
  border: none;
  outline: none;
}

.alert {
  margin: auto auto 1vh auto;
  width:28%;
  text-align: center;
}


//cover
.textdiv {
  text-align: center;
  display:table-cell;
  vertical-align:middle;
}

#click, #fs, #size {
  display:none;
}

.delivery_page {
  text-align: center;
  p {
    text-align: left;
    font-size: 2vh;
  }
}
.text_page {
  text-align: center;
  p {
    font-size: 2vh;
  }
}

.overlay {
  z-index: 1000;
  opacity: .25; /* in FireFox */
  filter: alpha(opacity=25); /* in IE */
}

#loading {
  border: none;
  background-color: $primary-color;
  color: white;
  display: none;
}

.check_image {
  color: white;
  font-size: 3vh!important;
  position: absolute!important;
  @include top-left-transform(50%,50%);
}

.visible {
  display: block;
}
.unvisible {
  display: none;
}

.form-for {
  width:50vh;
  margin: auto;
  text-align: center;
  font-size: 2vh;
  input[type="text"] {
    width:100%;
    border:1px solid lightgray;
  }
  textarea  {
    border:1px solid lightgray;
    text-align: left;
  }
  input[type="file"] {
    border:none;
  }
  input[type="submit"] {
    font-weight: 600;
    float: right;
    font-size: 2vh;
  }
  a, a:hover {
    float: left;
    color: #000;
    font-weight: 600;
    text-decoration: none;
  }
  div {
    margin-top: 8px;
    margin-bottom: 8px;
  }
}

.column-left {
  float: left;
  width: 33%;
  height:100%;
}
.column-right {
  float: right;
  width: 33%;
  text-align: right;
  height:100%;
}
.column-center {
  display: inline-block;
  text-align: center;
  width: 34%;
  height:100%;
}


//Elements
a {
  text-decoration: none;
}
select {
  border: none;
  background: none;
  &:focus {
    outline: none;
  }
}
.round_element_with_data {
  font-size: 0.75em;
  padding: 6px 12px;
  background-color: $background-color;
  border: none;
  border-radius: $default-border-radius;
}

.round_button {
  font-size: 0.75em;
  font-weight: 600;
  padding: 6px 12px;
  color: white;
  background-color: $primary-color;
  border: none;
  border-radius: $default-border-radius;
  margin: auto;
  span, i {
    color: white;
  }
  @include background-color-transition(1s);
  &:hover {
    box-shadow: 0 0 8px rgba(119,204,204,0.9);
    text-decoration: none;
  }
  &:focus {
    outline: none;
  }
}

.add_photo_button {
  text-align: center;
  height: 28px;
  margin-top: -14px;
  padding-bottom: 14px;
  label {
    font-size: 0.75em;
    font-weight: 600;
    line-height: 28px;
    position: relative;
    padding: 6px 12px;
    background-color: $background-color;
    border: $default-border;
    border-radius: $default-border-radius;
    margin: auto;
    cursor: pointer;
    @include background-color-transition(1s);
    &:hover {
      background-color: $primary-color;
      border: 1px solid $primary-color;
      color: white;
    }
    &:focus {
      outline: none;
    }
  }
  span {
    display:none;
  }
}
.columns {

}

//Form

//Pagination

.will_paginate {
  font-size: 14px;
  margin: 1vh;
  text-align: center;
  .pagination {
    padding: 0;
    list-style-type: none;
    display: inline-flex;
    li:first-child {
      a {
        border-top-left-radius: $default-border-radius;
        border-bottom-left-radius: $default-border-radius;
      }
    }
    li:last-child {
      a {
        border-top-right-radius: $default-border-radius;
        border-bottom-right-radius: $default-border-radius;
      }
    }
    .active {
      border: none;
      outline: none;
      .page-link {
        color: white;
        background-color: $primary-color;
        border: 1px solid $primary-color;
      }
    }
    .page-link {
      background: white;
      border: 1px solid #ddd;
      margin-left: -1px;
      padding: 6px 12px;
      text-decoration: none;
      color: $font-color;
    }
  }
}