@import 'variables';
@import 'mixins';

.sideleft {
  float:left;
}
.sideright {
  float:right;
}

.pageside {
  div.bx-wrapper {
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0;
    border: none;
    @include pageside-box-shadow;
    li {
      height: calc(100vh - 96px);
      height: -webkit-calc(100vh - 96px);
      height: -moz-calc(100vh - 96px);
      div {
        width:100%;
        height:100%;
        background-size: cover;
      }
    }
    .bx-controls {
      a {
        margin-top: -4vh;
        display: none;
      }
    }
    &:hover .bx-controls a{
      display: inline;
    }
  }
}

.home-welcome-div {
  @include top-left-transform(calc(50% - 48px),50%);
  width: 50vh;
  height: 60vh;
  div {
    @include top-left-transform(50%,46%);
    text-align: center;
    h1 {
      font-size: 4vh;
      color: $font-color;
      img {
        margin-top: -2vh;
        width: 50vh;
      }
    }
    p {
      font-size: 2.6vh;
      line-height: 2.6vh;
    }
    input[type="submit"] {
      font-size: 1.7vh;
      padding: 0.5vh 1vh;
      font-weight: 500;
      background-color: $primary-color;
      color: white;
      border: none;
      &:hover {
        box-shadow: 0 0 3vh $primary-color;
      }
    }
    div {
      margin-top: 4vh;
      @include left-transform(50%);
      line-height: 2vh;
      font-size: 2vh;
    }
  }
}