@import 'variables';
@import 'mixins';

body {
  margin: 0;
  color: $font-color;
  .container {
    width: 1170px;
    margin:auto;
  }
}

//header && footer
header {
  background-color: $background-color;
  border-radius: 0 0 8px 8px;
  height: 48px;
  ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    li{
      display: inline-block;
    }
  }
  a, a:hover, a:visited, a:link, a:active {
    color: $font-color;
    font-family: $font-Roboto;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    padding: 16px 8px;
    display: inline-block;
    vertical-align: middle;
    background: none;
    text-decoration: none;
  }
  a:hover {
    text-decoration: overline;
  }
  .logo, .icons {
    a {
      display: inline-block;
      height: 32px;
      padding: 8px;
      &:hover {
        background: none;
      }
      img {
        height: 32px;
      }
    }
  }
  .icons {
    text-align: right;
  }
}
footer {
  background-color: $background-color;
  border-top: 1px solid $primary-color;
  height: 240px;
  font-family: $font-Roboto;
  font-size: 0;
  .footer_links{
    width: 225px;
    height: 100%;
    float: left;
    ul {
      margin: 34px 0;
      padding: 0 32px;
      border-right: 1px solid $font-color;
      li {
        list-style-type: none;
        margin: 6px 0;
        a, a:hover, a:visited, a:link, a:active {
          color: $font-color;
          font-size: 16px;
          letter-spacing: 0.5px;
          font-weight: 600;
        }
      }
    }
  }
  .footer_insta{
    width: 320px;
    padding-top: 34px;
    float: left;
    text-align: center;
  }
  .footer_about{
    width: 225px;
    height: 100%;
    float: left;
    .about_box{
      margin: 34px 0;
      padding: 0 18px;
      height: 169px;
      border-left: 1px solid $font-color;
      text-align: center;
      .about {
        color: $font-color;
        font-size: 16px;
        letter-spacing: 0.5px;
        a {
          img {
            height: 32px;
          }
        }
        .about_contacts {
          padding: 7px 0;
          p {
            margin: 2px 0;
            font-size: 0.85em;
          }
        }
      }
      .icons {
        ul {
          padding: 0;
          li {
            display: inline-block;
            a {
              display: inline-block;
              height: 32px;
              padding: 0 4px;
              &:hover {
                background: none;
              }
              img {
                height: 32px;
              }
            }
          }
        }
      }
    }
  }
  .footer_map {
    width: 400px;
    float: left;
    a{
      padding: 0;
      img{
        width: 400px;
        height: 240px;
      }
    }
  }
}

//main
main {
  -webkit-padding-start: 0;
  font-family: $font-Roboto;
  width: 100%;
  padding:0;
  min-height: calc(100vh - 289px);
  min-height: -webkit-calc(100vh - 289px);
  min-height: -moz-calc(100vh - 289px);
    .page_box {
      background: white;
      .content {
        width: 1090px;
        padding: 0 40px;
        display: inline-block;
        h2 {
          text-align: center;
          padding: 2vh;
        }
      }
    }
}
.fifty-x-position {
  display: inline-block;
  vertical-align: middle;
}
.main_height {
  height: calc(100vh - 289px);
  height: -webkit-calc(100vh - 289px);
  height: -moz-calc(100vh - 289px);
}

//About Pages
.pagename {
  display: inline-block;
  width: 100%;
  h1 {
    margin: 50px;
    text-align: center;
  }
}