.nav > li > a, a:visited, a:link, a:active {
  color: #010101;
}
.nav > li > a:hover {
  background: none;
  color: #010101;
}
.navbar {height:3vw !important}
.navbar-nav > li > a {}
.nav > li > a {font-family: "PT Sans"; font-size: 0.7vw; padding: 1vw 0.8vw; background: none}

