body {
  background-image: url("order_background.jpg")!important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.test {
  text-align: center;
}
.test:before {
  content: ' ';
  display: inline-block;
  vertical-align: middle;
  height: 89vh;
}
#data {
  display: inline-block;
  vertical-align: middle;
}
.hider{
  display: none;
}