body {
  background-image: url("order_background.jpg")!important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.test {
  text-align: center;
}
.test:before {
  content: ' ';
  display: inline-block;
  vertical-align: middle;
  height: calc(100vh - 96px);
  height: -webkit-calc(100vh - 96px);
  height: -moz-calc(100vh - 96px);
}
#data {
  display: inline-block;
  vertical-align: middle;
}
.hider{
  display: none;
}