/*
*= require  slick
*= require  slick-theme
*/
@import 'variables';
@import 'mixins';
.container {
  background-color: $background-color;
}
//HomeSlider
.homeslider {
  div {
    height: 400px;
  }
}

//Services
.services {
  width:100%;
  text-align: center;
  margin-top: 36px;
  .service {
    display: inline-block;
    width: 560px;
    height: 280px;
    margin: 0 16px 36px 16px;
    border: $default-border;
    border-radius: 5px;
    .service_image {
      width: 50%;
      float: left;
      img {
        width: 100%;
        height: 100%;
        border-radius: 8px 0 0 8px;
      }
    }
    .service_about {
      width: 50%;
      float: right;
      @include top-transform(50%);
    }
  }
}

//Advantages
//Partnerslider
.partnerslider {
  .slick-slide {
    .partner {
      margin: 0 8px;
      a:focus {
        outline: none;
      }
      img {
        width: 144px;
        height: 144px;
      }
    }
  }
  .slick-prev {
    left: -40px;
  }
  .slick-next {
    right: -32px;
  }
  .slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 32px;
    line-height: 1;
    opacity: .5;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
//Map