@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:300&subset=cyrillic');
@import "variables";

h1 {
  font-size: 1.8em;
  font-weight:600;
  font-family: $font-Roboto;
}
h2 {
  font-size: 1.5em;
  margin:0;
  font-weight:600;
  font-family: $font-Roboto;
}
h3 {
  margin: 2px;
  font-size: 1.3em;
  font-weight:600;
  font-family: $font-Roboto;
}
h4 {
  font-size: 1.7vh;
  font-weight:600;
}
h5 {

}
h6 {

}