$font-OpenSans:           "Open Sans";
$font-Roboto:             "Roboto";
$font-color:              #333;
$primary-color:           #7CC;
$background-color:        white;
$default-font-size:       14px;
$default-border:          1px solid #333;
$default-border-radius:   9999px;
$default-shadow:          0 0 20px rgba(0,0,0,0.25);