$font-PTsans:             "PT Sans";
$font-PTserif:            "PT-Serif";
$font-color:              #101010;
$primary-color:           #71C8C9;
$background-color:        white;
$default-border:          1px solid black;
$default-border-radius:   9999px;
$default-shadow:          0 0 20px rgba(0,0,0,0.5);