<p>Здравствуй, <%= @resource.email %>!</p>

<p>Для того, чтобы сбросить пароль перейдите по ссылке ниже.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Если вы не запрашивали сброс пароля, то не проигнорируйте это сообщение.</p>
<p>Ваш пароль не изменится, пока вы не перейдете по ссылке и несоздадите новый.</p>
<p>Спасибо за использование сервиса Gudvinfoto.ru!</p>

<p> - команда Gudvinfoto.ru</p>