<div class="container" style="width: 200%; margin: 0;">
  <div class="row">
    <%= render partial: "books/templates/frame", locals: {bookpage: bookpage, num: 0, addclass: "col-xs-12", style: "width: 100%; padding-top: 50%; margin: 0;"} %>
  </div>
</div>