<div class="container" style="width: 90%; margin: 5% 5%;">
  <div class="row">
    <div class="col-xs-6">
      <div class="row">
        <%= render partial: "books/templates/frame", locals: {bookpage: bookpage, num: 0, addclass: "col-xs-12", style: "width: 100%%; padding-top: 66%; margin: 0 0.5% 0.5% 0;"} %>
      </div>
      <div class="row">
        <%= render partial: "books/templates/frame", locals: {bookpage: bookpage, num: 1, addclass: "col-xs-12", style: "width: 100%%; padding-top: 66%; margin: 0.5% 0.5% 0.5% 0;"} %>
      </div>
      <div class="row">
        <%= render partial: "books/templates/frame", locals: {bookpage: bookpage, num: 2, addclass: "col-xs-12", style: "width: 100%%; padding-top: 66%; margin: 0.5% 0.5% 0 0;"} %>
      </div>
    </div>
    <%= render partial: "books/templates/frame", locals: {bookpage: bookpage, num: 3, addclass: "col-xs-6", style: "width: 49.5%; padding-top: 100%; margin: 0 0 0 0.5%;"} %>
  </div>
</div>