<div style="width: 100%; height: 60%; margin: 20% 0;font-size: 0;">
  <%= render partial: 'books/templates/frame', locals: {bookpage: bookpage, num: 0, addclass: '', style: 'width: 49.7%; padding-top: 29.5%; margin: 0 0.3% 0.3% 0;'} %>
  <%= render partial: 'books/templates/frame', locals: {bookpage: bookpage, num: 1, addclass: '', style: 'width: 49.7%; padding-top: 29.5%; margin: 0 0.3% 0.3% 0;'} %>
  <%= render partial: 'books/templates/frame', locals: {bookpage: bookpage, num: 2, addclass: '', style: 'width: 49.7%; padding-top: 29.5%; margin: 0 0.3% 0 0;'} %>
  <%= render partial: 'books/templates/frame', locals: {bookpage: bookpage, num: 3, addclass: '', style: 'width: 49.7%; padding-top: 29.5%; margin: 0 0.3% 0 0;'} %>
</div>