<div class="container" style="width: 200%; margin: 0;">
  <div class="row" style="font-size: 0;">
    <%= render partial: 'books/templates/frame', locals: {bookpage: bookpage, num: 0, addclass: '', style: 'width: 24.75%; padding-top: 50%; margin: 0% 0.25% 0% 0%;'} %>
    <%= render partial: 'books/templates/frame', locals: {bookpage: bookpage, num: 1, addclass: '', style: 'width: 75%; padding-top: 50%; margin: 0;'} %>
  </div>
</div>