<nav class="navbar navbar-fixed-bottom footer_center">
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <%= render 'layouts/navigation_links' %>
      <div class="icons">
        <li>
          <% Socialicon.where("length(iconlink) > 0").each do |icon|%>
              <%= link_to 'http://' + icon.iconlink do %>
                  <%= image_tag 'socialicons/' + icon.name + '.png', alt: '' %>
              <% end %>
          <% end %>
        </li>
      </div>
    </ul>
  </div>
</nav>