<div class="column-left">
  <ul>
    <%= render 'layouts/footer_navigation_links' %>
  </ul>
</div>
<div class="column-right icons">
  <ul>
    <% Socialicon.where("length(iconlink) > 0").each do |icon|%>
        <li>
          <%= link_to 'http://' + icon.iconlink do %>
              <%= image_tag 'socialicons/' + icon.name + '.png', alt: '' %>
          <% end %>
        </li>
    <% end %>
  </ul>
</div>