<div class="column-left">
  <%= render 'layouts/footer_navigation_links' %>
</div>
<div class="column-right icons">
  <li>
    <% Socialicon.where("length(iconlink) > 0").each do |icon|%>
        <%= link_to 'http://' + icon.iconlink do %>
            <%= image_tag 'socialicons/' + icon.name + '.png', alt: '' %>
        <% end %>
    <% end %>
  </li>
</div>