<%# add navigation links to this file %>
<li><%= link_to 'ВОПРОСЫ И ОТВЕТЫ', page_path('faq') %></li>
<li><%= link_to 'ДОСТАВКА И ОПЛАТА', page_path('shipping_and_payment') %></li>
<li><%= link_to 'ПАРТНЕРАМ', '#' %></li>
<li><%= link_to 'О НАС', page_path('about') %></li>
