<nav class="torton_nav">
    <div class="header_bar">
      <ul class="sideleft">
        <li class="logo">
          <%= link_to root_path, title: '' do %>
              <%= image_tag 'logo.png' %><span>TORTONBOOK</span>
          <% end %>
        </li>
      </ul>
      <ul class="sideright">
        <%= render 'layouts/nav_links_for_auth' %>
      </ul>
    </div>
</nav>