<div class="column-left logo">
  <%= link_to root_path, title: 'Главная страница' do %>
      <%= image_tag 'logo.png' %>
  <% end %>
</div>
<div class="column-right">
  <ul>
    <%= render 'layouts/nav_links_for_auth' %>
  </ul>
</div>