<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : 'GudvinFoto' %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : 'GudvinFoto' %>">
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>
</body>
</html>